:root {
  --mainBg: ;
  --toggleAndKeyboardBg: ;
  --screen: ;
  --keyBg: ;
  --keyShadow: ;
  --keyTextClr: ;
  --equalBg: ;
  --equalShadow: ;
  --equalTextClr: ;
  --resetAndDelBg: ;
  --resetAndDelShadow: ;
  --resetAndDelText: ;
  --topTextClr: ;
  --primaryFont: 'League Spartan', sans-serif;
}
